
html {	
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
}

body {

}

img {
	
}

.top{
	margin: auto;
	overflow: auto;
	border: 3px solid green; 
}


#name{
	color: green;
	font: bold Times New Roman;
	text-align: center
	
}

#proPic{
	text-align: left;
}
