
html {	
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
}

body {

}

img {
	
}

.top{
	margin: auto;
    border: 3px solid #73AD21;
    padding: 10px;
}


#name{
	color: orange;
	font: bold Times New Roman;
	text-align: center
}

#proPic{
	width:20%;
	height:20%;
}
