
html {	
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}

body {

}

.center{
	margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
}


#name{
	color: green;
	font: bold Times New Roman;
	text-align: center
}
