
html {	
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
}

body {

}

img {
	
}

.top{
	margin: auto;
	overflow: auto;
	border: 3px solid green; 
}

#name{
	color: orange;
	font: 50px bold Times New Roman;
	text-align: center;
	
}

#proPic{
	text-align: left;
}
