
html {	
	background-image: url(../img/network.png);
	background-repeat: no-repeat;
}

body {

}

#name{
	color:Tomato;
	font: bold Times New Roman;
	border-left: 6px solid green;
	background-color: lightgrey;
}
